*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
img{
    height: 255px;
}

figure{
    display: inline-block;
}

li{

    cursor: pointer;

}


input{
    display: block;
    margin: 0 auto;
}
 
.a{
    margin-top: -4rem;
}


