*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

/* prices */
p{
    color: #d1ceff;
}

/* contains everything for the item(merch) */
figure{
    display: inline-block;
}

li{
    cursor: pointer;
    border-bottom: solid whitesmoke 2px;
}

li:hover{
    border-bottom: solid #519fb1 2px;
}

input{
    display: block;
    margin: 0 auto;
}
 
@media screen and (max-width: 575px){

    /* cast picture container*/
    .neg-mar-cast{
        margin-top: -4rem;
    }
    
    /* checkbox for mobile view  */
    .check-mar-right{
        margin-right: 22%;
    }

    img{
        width: 35%;
    }
}

@media screen and (min-width: 576px) {

    /* max width for entire main container */
    .container-max-width-adjust{
        max-width: 555px;
    }

    img{
        width: 65%;
    }

    .neg-mar-cast{
        margin-top: -4rem;
    }

    /* input, checkbox */
    #yellowKeychain{
        top: 13%;
    }

    /* input, checkbox */
    #steak{
        top: 27.5%;
    }

    /* input, checkbox */
    #tots{
        top: 29.5%;
    }

    /* input, checkbox */
    #redKeychain, #blueKeychain{
        top: 11.5%;
    }
}

@media screen and (min-width: 768px) {

    .container-max-width-adjust{
        max-width: 730px;
    }

    #yellowKeychain{
        top: 5.5%;
    } 

    #redKeychain, #blueKeychain{
        top: 13.5%;
    }

    #tots{
        top: 24.5%;
    }

    #steak{
        top: 22.5%;
    }
}

@media screen and (min-width: 992px) {

    .container-max-width-adjust{
        max-width: 965px;
    }

    #redKeychain, #blueKeychain, #yellowKeychain{
        top: 12%;
    } 

    #redKeychain, #blueKeychain{
        top: 11%;
    }

    #steak{
        top: 27.5%;
    }
    
    #tots{
        top: 29%;
    }
}

@media screen and (min-width: 1199px){

    #redKeychain, #blueKeychain, #yellowKeychain{
        top: 12%;
    } 

    #steak{
        top: 28%;
    }
    
    #tots{
        top: 29%;
    }
}