*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
body{
    border: solid #8a2be2 1px;
    height: 98vh;
}
img{
    width: 50px;
    height: 50px;
}
figure, li{
    display: inline-block;
}
input{
    display: block;
}

header{

    border: solid green 1px;

}

.a{

    border: solid yellow 1px;
    height: 100%;

}

.b{

    border: solid pink 1px;

}

.c{

    border: solid blACK 1PX;

}



